
.ffc-build {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('./../../assets/img/build.png');
    margin: 20px 0 400px 0;
    height: 400px;
}

.margin-center {
    margin: auto;
    display: inherit;
}

.box {
    padding: 20px;
}

.box-fixer {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.box-spacer-1 {
    height: 100px;
}

.box-spacer-2 {
    height: 200px;
}

.box-spacer-3 {
    height: 300px;
}

.pull-up {
    margin-top: -100px;
}

.pull-up-1 {
    margin-top: -150px;
}

.pull-up-2 {
    margin-top: -200px;
}

@each $color in map-keys($page-colors) {
    .wave-#{$color} {
        width: 100%;
        path {
            width: 100%;
            fill: map-get($page-colors, $color);
        }
    }
    .box-#{$color} {
        background-color: map-get($page-colors, $color);
        font-size: 20px;

        h1 {
            display: inherit;
            text-align: center;
            margin: auto;
            margin-bottom: 20px;
        }
    }
    .title-#{$color}, .text-#{$color} {
        color: map-get($page-colors, $color);
    }
    .anchor-#{$color}, .text-#{$color} {
        color: map-get($page-colors, $color);
        cursor: pointer;
        &:hover {
            text-decoration: none;
            color: map-get($page-colors, $color);
        }
    }
}

@media only screen and (max-width: 550px) {
    .mobil {
        display: block;
    }

    .desktop {
        display: none;
    }

    .pull-up {
        margin-top: auto;
    }
}
