body {
    padding: 0px;
    font-family: 'EB Garamond', sans-serif;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
}

.wrapper, html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

body {
    background-blend-mode: overlay !important;
    height: 100%;
}

.fixer {
    margin: auto;
    background-color: #ffffff6b;
    padding: 0 30px 0 30px;
}

.home {
    display: flex;
    flex-flow: column;
}

.home-bar-image {
    background-color: white;
    flex: 1;
    display: flex;
    align-items: stretch;
}

.home-cell {
    flex: 1;
    border: white 1px solid;
    font-size: 3em;
    color: white;
    cursor: pointer;
    overflow: hidden;
    
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        text-decoration: none;
        color: white;
    }

    h3 {
        font-size: 0.8em;
        z-index: 2;
        position: absolute;
    }
}

.home-bar-middle {
    background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.9)), url($body-bg-image);
    align-items: stretch;
    flex: 1;
    height: 200px;
    text-align: center;
    font-size: 2em;
    color: $color-brown;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 200px;

    h1 {
        font-size: 1em;
    }

    img {
        width: 150px;
    }

    a {
        font-size: 0.7em;
        &:hover {
            text-decoration: none;
        }
    }
}

.home-bar-pattern {
    flex: 1;
    background-image: url(../../assets/img/art/wayu1.png);
    height: 10px;
    max-height: 30px;
    background-size: contain;
    background-repeat: repeat-x;
}

.footer-bar-sections {
    display: flex;
    justify-content: center;
    background-color: $color-gray;
    padding: 30px 15% 20px 15%;
}

.footer-bar-section {
    flex: 1;
    text-align: center;
    color: white;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.2s;
    
    &:hover {
        text-decoration: none;
        transition: color 0.2s;
        color: $color-yellow;
        background-color: $color-gray;
    }
}

.footer-bar-social {
    display: flex;
    background-color: $color-gray-dark;
    text-align: center;
    padding: 20px 30% 20px 30%;
    color: $color-golden;

    div {
        cursor: pointer;
        flex: 1;
        transition: color 0.5s;
        &:hover {
            color: white;
            transition: color 0.5s;
        }
    }
}

.mobil {
    display: none;
}

@media only screen and (max-width: 550px) {
    .mobil {
        display: block;
    }

    .home-bar-image {
        flex-direction: column;
    }

    .home-bar-middle {
        height: auto;
        h1 {
            font-size: 0.7em;
        }
    }

    .footer-bar-sections {
        padding: 30px 15px 20px 15px;
        flex-direction: column;
    }

    .footer-bar-social {
        span {
            display: none;
        }
    }
}
