body {
    padding: 0px;
    font-family: 'EB Garamond', sans-serif;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
}

.wrapper, html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

body {
    background-blend-mode: overlay !important;
    background-color: gainsboro !important;
    height: 100%;
}

.fixer {
    margin: auto;
    background-color: #ffffff6b;
    padding: 0 30px 0 30px;
}

.home {
    display: flex;
    flex-flow: column;
}

.home-bar-image {
    background-color: white;
    flex: 1;
    display: flex;
    align-items: stretch;
}

.home-cell {
    flex: 1;
    border: white 4px solid;
    font-size: 3em;
    color: white;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
        font-size: 0.7em;
        z-index: 2;
        position: absolute;
    }
}

.home-bar-middle {
    background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,.5)), url($body-bg-image);

    align-items: stretch;
    flex: 1;
    height: 200px;
    text-align: center;
    font-size: 2em;
    color: #542015;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
