.image {
    left: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    width: 100%;

    background-size: cover;
    filter: blur(4px);
    transition: filter 4s;

    &:hover {
        filter: none;
        transition: filter 1s;
    }

    @each $image in $home_images {
        &__#{$image} {
            background-image: url('./../../assets/img/art/#{$image}.jpg');
        }
    }
}
