
.page-header {
    font-size: 30px;
    text-align: center;;
    width: 100%;

    img {
        max-height: 100px;
    }

    .main-title {
        background-color: $color-white;
        color: $color-brown;
        margin-bottom: 0;
        padding: 10px;
        border-radius: 0 0 10px 10px;;
        margin: auto;
        width: 90%;

        border-color: $color-golden;
        border-width: 2px;
        border-style: solid;
        border-top-style: none;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    button {
        margin-top: -10px;
        font-weight: bolder;
    }
}

.page-bg {
    background-size: cover;
    background-position-y: center;
}

@each $image in map-keys($external-images) {
    .page-bg-#{$image} {
        background-image: url(map-get($external-images, $image));
    }
}

.table-formacion {
    background-color: white;
    border-radius: 20px;
}

.header-bar-sections {
    display: flex;
    justify-content: center;
    background-color: $color-gray;
    padding: 15px 15% 15px 15%;
}

.header-category-sections {
    display: flex;
    justify-content: center;
    background-color: $color-white;
    padding: 0px 15% 5px 15%;
    font-size: 15px;
    border-top: dashed $color-brown-ligth 1px;
}

.header-category-section {
    flex: 1;
    text-align: center;
    color: $color-brown;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.2s;
    
    &:hover, &--active {
        text-decoration: none;
        transition: color 0.2s;
        color: $color-white;
        border-radius: 0 0 15px 15px;
        background-color: $color-brown;
    }
}

.hermanos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.hermano-box {
    margin: 7px;
    padding: 10px;
    width: 200px;
    height: 250px;
    display: inline-block;
    border-color: $color-brown-ligth;
    border-width: 1px;
    border-style: dashed;
    border-radius: 90px 90px 10px 10px;
    text-align: center;
    border-bottom: solid;
    border-bottom-width: 5px;
    border-bottom-color: $color-blue;
    color: $color-gray;

    &:hover {
        border-bottom-color: $color-purple;
    }

    img {
        height: 180px;
        width: 180px;
        border-radius: 180px;
        object-fit: cover;
    }

    h4 {
        font-size: 20px;
    }
}


@media only screen and (max-width: 550px) {
    .page-header {
        img {
            display: block;
            margin: auto;
        }
    }

    .main-title {
        div {
            flex-direction: column;
        }
    }

    .header-category-section { 
        &:hover, &--active {
            border-radius: 15px;
        }
    }
}

