$page-width: 900px;
$color-brown: #5b3715;
$color-brown-ligth: #927151;
$color-gray: #818181;
$color-gray-dark: #636267;
$color-purple: #ba0716;
$color-yellow: #ecc201;
$color-blue-ligth: #527bb9;
$color-blue: #020240;
$color-green: #5f8639;
$color-golden: #cc9e62;
$color-white: white;

$page-colors: (
    white: $color-white,
    brown: $color-brown, 
    brown-ligth: $color-brown-ligth, 
    gray: $color-gray, 
    gray-dark: $color-gray-dark, 
    purple: $color-purple, 
    yellow: $color-yellow, 
    blue: $color-blue, 
    blue-ligth: $color-blue-ligth, 
    green: $color-green, 
    golden: $color-golden
);

$external-images: (
    migrantes: 'https://imgur.com/haZ1J4Y.jpg',
    migrantes2: 'https://imgur.com/KozqgRg.jpg',
    escuela: 'https://imgur.com/TrkPayq.jpg',
    escuela2: 'https://imgur.com/7fQcbhG.jpg',
    fco-angel: 'https://imgur.com/UcjJVYU.jpg',
    tertulia: 'https://imgur.com/UcjJVYU.jpg',
    actualidad: 'https://imgur.com/haZ1J4Y.jpg',
);

$body-bg-image: '../../assets/img/fondo_tela.jpg';
$home_images: 
    'jufra', 
    'jpic', 
    'donate', 
    'clara', 
    'francisco', 
    'fco_rendon', 
    'fco_pintura', 
    'fco_mirando', 
    'fco_jesus', 
    'fco_clasico', 
    'fco_baldosa', 
    'maria', 
    'tejido_artesanal',
    'fondo_novedades';

/* Helper Function */
$base-parallax-perspective: 8px;

@function parallax-scale-factor($z-distance) {
    @return ($base-parallax-perspective - $z-distance) / $base-parallax-perspective;
}
