$page-width: 900px;
$color-brown: #5b3715;
$body-bg-image: '../../assets/img/fondo_tela.jpg';
$home_images: 
    'jufra', 
    'jpic', 
    'donate', 
    'clara', 
    'francisco', 
    'fco_rendon', 
    'fco_pintura', 
    'fco_mirando', 
    'fco_jesus', 
    'fco_clasico', 
    'fco_baldosa', 
    'maria', 
    'tejido_artesanal';

/* Helper Function */
$base-parallax-perspective: 8px;

@function parallax-scale-factor($z-distance) {
    @return ($base-parallax-perspective - $z-distance) / $base-parallax-perspective;
}
